<% provide :button_text, t(".add") %>
<div class="modal fade new-word-modal" tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
          aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center"><%= t "new_word" %></h4>
      </div>
        <%= render "form" %>
    </div>
  </div>
</div>
